<h1>###type###</h1>
<h2>Titel</h2>
<p class="bodytext">###title###</p>

<div>

	<div>
	
		<div style="width:200px">
			<h2>Autorin/Autor</h2>
			<p class="bodytext">###lastname###</p>
			<h2>Betreuerin/Betreuer</h2>
			<p class="bodytext">###organizer###</p>
			<h2>Status</h2>
			<p class="bodytext">###status###</p>
		</div>
		
		
	</div>



	<div>
		<!-- ###abstractTitle### begin -->
		<h2>Abstract</h2>
		<p class="bodytext">###abstract###</p>
		<!-- ###abstractTitle### end -->
		<div class="bodytext" style="padding-left: 15px;">
			###pictures###&nbsp;
		</div>
		<p class="bodytext">###back###</p>
	</div>
	
</div>