<!-- ###searchForm### begin -->
<p class="close-button"><a href="javascript:parent.hidePersonSearch('organizer');">###close###</a></p>
<form id="organizerSearchForm" action="###formAction###" method="post">
	<h2>###label###</h2>
	<p><input type="text" name="tx_x4equalificationgeneral_pi2[organizerSearchWord]" value="###searchWord###"> <input type="button" onclick="searchPerson('organizer')" value="###submit###">
	<input type="hidden" id="organizerUids" name="tx_x4equalificationgeneral_pi2[organizerUids]" value="###organizerUids###">
	</p>
</form>
<!-- ###searchForm### end -->

<!-- ###searchRes### begin -->
<table class="tablelist">
	<!-- ###row### begin -->
		<tr>
			<td>###lastname###, ###firstname###</td>
			<td><a href="javascript:parent.addPerson(###uid###,'###lastname###','###firstname###','organizer');">###addLabel###</a></td>
		</tr>
	<!-- ###row### end -->
</table>
<!-- ###searchRes### end -->

<!-- ###noResults### -->
<p>###content###</p>
<!-- ###noResults### -->
